<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-content">
      <ion-img src="https://seeklogo.com/images/D/duoc-uc-logo-F1437952BE-seeklogo.com.png" class="logo-image"></ion-img>
      <ion-title>Registro de Usuario</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <div class="header-content">
        <ion-img src="https://seeklogo.com/images/D/duoc-uc-logo-F1437952BE-seeklogo.com.png" class="logo-image-condensed"></ion-img>
        <ion-title size="large" class="title-animation">Registro de Usuario</ion-title>
      </div>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      <ion-input id="nombre" [(ngModel)]="nombre" label="Nombre" labelPlacement="floating" placeholder="Tu nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input id="apellido" [(ngModel)]="apellido" label="Apellido" labelPlacement="floating" placeholder="Tu apellido"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="correo" label="Correo" labelPlacement="floating" placeholder="tucorreo@tudominio.cl" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Contraseña" [(ngModel)]="clave" labelPlacement="floating" placeholder="********" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Rol</ion-label>
      <ion-select [(ngModel)]="rol" placeholder="Selecciona tu rol" interface="popover">
        <ion-select-option value="docente">Docente</ion-select-option>
        <ion-select-option value="estudiante">Estudiante</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="block" (click)="registrarUsuario()">Registrar</ion-button>
  </div>
</ion-content>
