<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-content">
      <ion-img src="https://seeklogo.com/images/D/duoc-uc-logo-F1437952BE-seeklogo.com.png" class="logo-image"></ion-img>
      <ion-title>
        Inicio de Sesión
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <div class="header-content">
        <ion-img src="https://seeklogo.com/images/D/duoc-uc-logo-F1437952BE-seeklogo.com.png" class="logo-image-condensed"></ion-img>
        <ion-title size="large" class="title-animation">Inicio de Sesión</ion-title>
      </div>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      <ion-input [(ngModel)]="correo" label="Correo" labelPlacement="floating" placeholder="tucorreo@tudominio.cl" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Contraseña" [(ngModel)]="clave" labelPlacement="floating" placeholder="Enter text" type="password"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="PasarDatos()">Ingresar</ion-button>
    <ion-button expand="block" (click)="clearInputs()">Limpiar Campos</ion-button>
    <a (click)="irARecuperar()">Olvidaste tu contraseña?</a>
  </div>
</ion-content>
